<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary">{{ form.value._id ? 'Editar Curso' : 'Cadastrar curso'}}</mat-toolbar>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="form">
      <mat-form-field class="full-width form">
        <mat-label>Nome</mat-label>
        <input matInput #input placeholder="Node.js" formControlName="name">
        <mat-hint align="end">{{input.value.length}}/150</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value=""> </mat-option>
          <mat-option value="front-end">Front end</mat-option>
          <mat-option value="back-end">Back end</mat-option>
        </mat-select>
      </mat-form-field>

    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="onCancel()">Voltar</button>
    <button mat-stroked-button color="primary" (click)="onSubmit()">
      {{ form.value._id ? 'Salvar' : 'Cadastrar'}}
    </button>
  </mat-card-actions>
</mat-card>