<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary">{{ form.value._id ? 'Editar Curso' : 'Cadastrar curso'}}</mat-toolbar>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="form">
      <mat-form-field class="full-width form">
        <mat-label>Nome</mat-label>
        <input matInput #input placeholder="Node.js" formControlName="name">
        <mat-hint align="end">{{ input.value.length }}/150</mat-hint>
        @if (form.get('name')?.invalid) {
        <mat-error>{{ getErrorMessage('name') }}</mat-error>
        }

      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value=""> </mat-option>
          <mat-option value="front-end">Front end</mat-option>
          <mat-option value="back-end">Back end</mat-option>
          <mat-option value="full-stack">Full stack</mat-option>
        </mat-select>
        @if (form.get('category')?.invalid) {
        <mat-error>{{ getErrorMessage('category') }}</mat-error>
        }
      </mat-form-field>

      <mat-toolbar>
        <span>Aulas</span>
        <button type="button" mat-icon-button color="accent" (click)="addNewLesson()">
          <mat-icon aria-label="Botao de adicionar aula">add</mat-icon>
        </button>
      </mat-toolbar>

      <table style="width: 100%;" formArrayName="lesson" *ngFor="let lesson of getLessonsFormArray(); let i = index">
        <tr [formGroupName]="i">
          <td style="width: 65%;">
            <mat-form-field class="full-width">
              <mat-label>Nome da aula</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
          </td>
          <td style="width: 30%;">
            <mat-form-field class="full-width">
              <span matPrefix>https://youtu.br/</span>
              <input matInput formControlName="youtubeUrl">
            </mat-form-field>
          </td>
          <td>
            <button type="button" mat-icon-button color="warn" (click)="openDialog(i)">
              <mat-icon aria-label="Botao de deletar aula">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>

    </form>



  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button color="accent" (click)="onCancel()">Voltar</button>
    <button mat-stroked-button color="accent" (click)="onSubmit()">
      {{ form.value._id ? 'Salvar' : 'Cadastrar'}}
    </button>
  </mat-card-actions>
</mat-card>
