<mat-card>

  <mat-toolbar color="primary">Cursos disponiveis</mat-toolbar>

  @if (courses$ | async; as courses) {
  <div class="mat-elevation-z8">
    <app-courses-list [courses]="courses.courses" (add)="onAdd()" (edit)="onEdit($event)" (delete)="onDelete($event)" />

    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 15]" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [length]="courses.totalElements" (page)="loadingCourses($event)" showFirstLastButtons
      aria-label="Select page of courses">
    </mat-paginator>
  </div>
  } @else {
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  }

</mat-card>
