mat-card {
  width: 90%;
  margin: 2rem auto;

  .table-content {
    width: 90%;
    margin: 1rem auto;
  }

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  td {
    text-transform: capitalize;
  }
}
