<div class="content">
  <h2 mat-dialog-title>{{ data.name }}</h2>

  <mat-dialog-content class="mat-typography">
    <h3>Dados do curso </h3>
    <p>
      Categoria: {{ data.category }}
    </p>
    <ul>
      @for(lesson of lessons; track lesson; let i = $index) {
      <li>
        Aula {{ i + 1 }}
        <mat-icon style="height: 18px;">arrow_forward</mat-icon>
        {{ lesson.name }}
      </li>
      }
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="accent" [mat-dialog-close]=" true">Fechar</button>
  </mat-dialog-actions>
</div>
