mat-table {
  display: flex;
  flex-direction: column;

  overflow: auto;
  max-height: 600px;

  .icon {
    display: flex;
    gap: 0.6rem;
    text-transform: capitalize;
    margin-right: 0.4rem;
  }

  .action-column {
    flex: 0 0 120px;

    .action-column-header {
      margin: 0 auto;
    }
  }
}
